<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gujjuflavour - Samarpana</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.6.2/tailwind.min.css">
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

		* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #ee3e01;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
}
 
main {
  display: flex;
  flex-flow: column-reverse;
  color: white;
  width: 100%;
  margin: 0;
  padding-top: 100px;
  height: 500px;
}

.hero {
  text-align: center;
  margin-top: 50px;
}

.hero-title-primary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 10vmin;
  line-height: 58px;
}

.hero-title-sub {
  margin: 0.2em 0 1em 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 4.6vmin;
}

button {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  background-color: black;
  color: white;
}

figure {
  text-align: center;
  position: relative;
  top: -90px;
}

figure svg {
  margin: 3em auto 0;
  width: 80vw;
}

.waves {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  position: relative;
  top: 0px;
}

.video-content {
  padding-top: 80px;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  color: red;
  background-color: white;
}

.video-title {
  font-size: 35px;
  
}

.video-subtitle {
  margin-top: -10px;
  color: #d3d3d3;
  margin-bottom: 20px;
}

iframe {
   height: 50vw;
    width: 91vw;
}

.three-dots {
  text-align: center;
}

.three-dots span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  display: inline-block;
  margin: 30px 5px;
}

.content {
  padding: 10px 38px 10px 38px;
  background: white;
}

.inner-content {
  padding-top: 50px;
}

.inner-content-text {
  padding-right: .78125rem;
  padding-left: .78125rem;
  padding-bottom: 40px;
}

.inter-content-subtitle {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: .875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .10938rem;
  color: #828282;
}

.inter-content-subtitle::before {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 25px;
    height: 5px;
    content: "";
    background-color: red;
    opacity: 0.7;
}

.inner-content-title {
  margin-top: 25px;
  margin-right: 60px;
  font-size: 2.125rem;
  font-weight: 700;
  color: red;
}

.inner-content-para {
  margin-top: 25px;
  margin-right: 60px;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: .04375rem;
  font-style: normal;
  font-weight: 400;
  color: #4c4c4c;
}

.inner-image-container {
  position: relative;
  padding-right: .78125rem;
  padding-left: .78125rem;
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
}


.inner-content-image {
  position: relative;
  height: 350px;
}

.section-images {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pricing-container {
  padding: 150px 38px 10px 38px;
  background: white;
  display: flex;
  flex-direction: column;
}

.pricing-title {
  margin-bottom: 50px;
  font-size: 23px;
  color: black;
  align-self: center;
}

.pricing-title > h2 {
  font-weight: 600;
}

.flex-container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  padding: 1em;
}

.flex-item {
  flex: 1;
  width: 250px;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 8px;
}

.flex-item:not(:last-child) {
  margin-right: 2em;
}

.package {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
}

.package:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.025);
}

.package .header {
  color: black;
  border-bottom: 5px red solid;
  font-size: 1.6em;
  font-weight: 600;
}

.package li {
  color: rgba(55, 53, 47, 0.6);
  background-color: #fff;
  padding: 1.2em;
}

li.features:before {
  content: '✓';
  padding-right: 5px;
}

li.features {
  text-align: left;
  padding: 10px;
}

li.first-feat {
  margin-top: 30px;
}

.package .gray {
  background-color: #f7f7f7;
  color: black;
  font-weight: 600;
  font-size: 40px;
  padding: .8em;
  line-height: 80%;
}

.dolla {
  top: -.2em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}

.month {
  font-size: 16px;
  font-weight: normal;
}

.pricing-button {
  background-color: white;
  border: 1px solid red;
  border-radius: 2em;
  color: red;
  cursor: pointer;
  padding: .75em 1.5em;
  font-size: 1em;
}

.subscribe-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: row;
}

#email {
  width: 250px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1px solid red;
  text-decoration: none;
}

#submit {
  width: 100px;
  height: 40px;
  border: none;
  background: red;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 0 5px 5px 0;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

input[type="email"] {
  padding-left: 10px;
}

.hero-newsletter {
  margin-bottom: 20px;
}



@media only screen and (max-width: 984px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .flex-item {
    flex: 0 0 100%;
    margin-bottom: 1em;
    width: 100%;
  }

  .package:hover {
    box-shadow: none;
    transform: none;
  }

  .pricing-button {
    padding: .75em 1.5em;
  }
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media screen and (min-width: 820px) {
  .container {
    max-width: 80vw;
  }
  
  .menu-container {
    max-width: 100vw;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  #header {
    background: white;
  }
  
  #header-img {
    margin-left: -100px;
  }
  
  .menu {
  margin-top: 20px;
  }
  
  nav {
    margin-right: -100px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    float: left;
    list-style: none;
    padding: 0.5em 1em;
  }
  nav ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 0;
  }
  
  a.highlight {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 0.5em 1em;
  }
  
  #header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  #header .menu-icon {
    display: none;
  }
  
  .highlight {
    border: 1px solid #333;
    border-radius: 50px;
  }
  
  .highlight:hover,.special:hover {
    background: black;
    color: white;
    border-bottom: none;
  }
  
  main {
    flex-flow: row;
  }
  
  .hero {
    margin-top: 150px;
    text-align: left;
  }
  
  .hero h1 {
    font-size: 4em;
    line-height: 55px;
  }
  
  .hero p {
    font-size: 1.3em;
    margin: 0.5em 0 1em 0;
    padding: 0;
  }
  
  figure svg {
    width: 500px;
    margin: 0;
  }
  
  iframe {
   height: 30vw;
    width: 55vw;
}
  
  .content {
  padding: 0 68px 0 68px;
  background: white;
}

  .container__ImageRight {
    order: 2;
    margin-left: 8.33333%;
  }
  
  .content__ImageRight {
    left: 0;
  }
  
  .container__ImageLeft {
    order: 1;
  }
  
  .content__ImageLeft {
    right: 0;
  }
  
  .content__TextLeft {
    order: 1;
  }
  
  .content__TextRight {
    margin-left: 8.33333%;
    order: 2;
  }

.inner-content {
  max-width: 80vw;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

.inner-content-text {
  padding-right: .9375rem;
  padding-left: .9375rem;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  display: flex;
  min-height: 550px;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;
  justify-content: center;
}

.inner-content-title {
  margin-top: 25px;
  margin-right: 60px;
  font-size: 2.125rem;
  font-weight: 700;
  color: red;
}

.inner-content-para {
  margin-top: 25px;
  margin-right: 60px;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: .04375rem;
  font-style: normal;
  font-weight: 400;
  color: #4c4c4c;
}

.inner-image-container {
  position: relative;
  padding-right: .78125rem;
  padding-left: .78125rem;
  flex: 0 0 50%;
  max-width: 50%;
  height: auto;
}


.inner-content-image {
  position: absolute;
  top: 0;
  width: calc(100% - 12.5px);
  height: 100%;
}

.section-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}


@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  h1 {
    font-size: 24px;
  }
}


	</style>
</head>
<body>
  <main class="container">
	<section class="hero container">
	  <h1 class="hero-title-primary">Samarpana </h1>
	  <p class="hero-title-sub">Gujju Flavor Food Drive: Sharing the Taste of Generosity</p>
  
	  <button><a class="nav-link" href="/auth/login">Donate</a></button>
	</section>
	<div class="hero-image">
	  <figure>
		<svg viewBox="0 0 609 612" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M448.514 294.27V512.377C448.514 520.031 445.474 527.372 440.061 532.784C434.649 538.197 427.308 541.238 419.653 541.238H250.109C242.455 541.238 235.114 538.197 229.701 532.784C224.289 527.372 221.248 520.031 221.248 512.377V79.5855C221.248 71.9311 224.289 64.5902 229.701 59.1777C235.114 53.7653 242.455 50.7246 250.109 50.7246H419.653C427.308 50.7246 434.649 53.7653 440.061 59.1777C445.474 64.5902 448.514 71.9311 448.514 79.5855V294.27Z" fill="white"/>
  <path d="M406.776 550.407L369.286 498.515C369.286 498.515 344.76 476.34 334.892 468.853C334.805 476.503 335.305 531.379 337.635 550.407H406.776Z" fill="black"/>
  <path d="M441.558 542.089H448.514V473.79C430.95 479.4 345.78 479.91 334.892 468.853C334.892 469.71 351.237 514.049 380.644 548.388H441.558V542.089Z" fill="black"/>
  <path d="M315.69 336.141C313.834 338.181 313.823 342.108 313.823 342.108C311.539 335.259 261.467 210.686 261.467 210.686C261.467 210.686 251.099 215.082 263.048 238.624C259.182 240.909 248.395 249.533 252.848 263.4C256.204 273.824 263.558 277.455 268.148 277.455C267.357 285.284 284.075 364.987 286.243 368.817C291.343 377.823 301.186 387.687 306.974 387.967C313.604 388.299 327.16 382.189 336.416 376.339" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M367.251 286.697C342.047 291.389 310.08 321.025 310.916 327.42C311.697 333.453 327.374 350.88 339.323 359.173" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M383.056 272.651C328.996 303.134 327.976 459.311 334.892 468.853C341.664 478.237 422.509 480.695 448.514 474.193" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M446.531 291.236C439.11 280.434 429.344 272.575 416.67 269.28" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M442.078 372.341C443.445 378.201 446.25 389.171 449.055 399.585" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M425.804 359.162C428.436 366.751 431.322 372.004 433.403 372.677C435.953 373.499 441.752 372.677 448.514 370.877" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M448.514 292.577C444.042 289.292 439.523 287.681 435.229 288.68" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M383.056 272.651V263.889" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M416.67 247.819V284.218C416.67 287.166 408.75 288.986 400.595 289.241" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M416.522 247.819C419.582 249.497 424.203 247.707 427.145 243.596C430.251 239.256 430.313 233.983 427.283 231.81C426.492 231.256 425.56 230.94 424.595 230.897" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M368.22 210.824C367.707 211.915 367.222 213.032 366.767 214.175C358.545 234.967 364.426 256.78 379.899 262.895C380.932 263.304 381.994 263.636 383.076 263.889" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M435.815 235.564C442.073 233.692 449.932 229.23 449.932 220.264C449.932 214.654 444.695 208.483 443.7 201.43C443.19 197.86 444.302 182.993 440.13 177.97C431.46 167.55 426.36 169.682 419.73 167.26C408.184 163.037 403.762 156.04 394.23 156.04C383.408 156.04 379.027 161.65 371.28 161.65C362.421 161.65 355.154 157.57 342.72 157.57C336.09 157.57 327.42 166.24 327.42 173.89C327.42 191.974 344.25 189.383 344.25 193.78C344.25 196.84 343.23 199.267 343.23 203.47C343.23 205.698 344.413 207.55 346.086 208.962" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M274.054 152.913H248.599C241.056 152.913 234.942 159.028 234.942 166.571V192.025C234.942 199.568 241.056 205.683 248.599 205.683H274.054C281.597 205.683 287.711 199.568 287.711 192.025V166.571C287.711 159.028 281.597 152.913 274.054 152.913Z" stroke="black" stroke-width="2.5" stroke-miterlimit="10"/>
  <path d="M281.418 167.907C287.381 167.907 292.215 163.073 292.215 157.111C292.215 151.148 287.381 146.314 281.418 146.314C275.455 146.314 270.621 151.148 270.621 157.111C270.621 163.073 275.455 167.907 281.418 167.907Z" fill="black"/>
  <path d="M420.526 35.19H249.237C238.156 35.19 227.53 39.5917 219.695 47.4268C211.86 55.262 207.458 65.8887 207.458 76.9692V514.978C207.458 526.058 211.86 536.685 219.695 544.52C227.53 552.355 238.156 556.757 249.237 556.757H420.526C431.606 556.757 442.233 552.355 450.068 544.52C457.903 536.685 462.305 526.058 462.305 514.978V76.9692C462.305 65.8887 457.903 55.262 450.068 47.4268C442.233 39.5917 431.606 35.19 420.526 35.19V35.19ZM448.514 294.27V512.377C448.514 516.167 447.768 519.92 446.318 523.421C444.867 526.923 442.741 530.104 440.061 532.784C437.381 535.464 434.2 537.59 430.698 539.041C427.197 540.491 423.444 541.237 419.654 541.237H250.109C242.455 541.237 235.114 538.197 229.701 532.784C224.289 527.372 221.248 520.031 221.248 512.377V79.5855C221.248 71.9311 224.289 64.5902 229.701 59.1778C235.114 53.7653 242.455 50.7246 250.109 50.7246H278.205V59.6139C278.205 60.6667 278.412 61.7093 278.815 62.682C279.218 63.6546 279.809 64.5385 280.553 65.2829C281.298 66.0274 282.181 66.6179 283.154 67.0208C284.127 67.4237 285.169 67.6311 286.222 67.6311H383.52C384.573 67.6311 385.615 67.4237 386.588 67.0208C387.561 66.6179 388.445 66.0274 389.189 65.2829C389.933 64.5385 390.524 63.6546 390.927 62.682C391.33 61.7093 391.537 60.6667 391.537 59.6139V50.7246H419.633C423.423 50.7246 427.176 51.4711 430.678 52.9215C434.179 54.3719 437.361 56.4978 440.041 59.1778C442.721 61.8577 444.847 65.0394 446.297 68.5409C447.748 72.0425 448.494 75.7954 448.494 79.5855L448.514 294.27Z" fill="white" stroke="black" stroke-width="2.5" stroke-miterlimit="10"/>
  <path d="M508.944 99.9906H447.061C435.882 99.9906 426.819 109.053 426.819 120.232C426.819 131.412 435.882 140.474 447.061 140.474H508.944C520.124 140.474 529.186 131.412 529.186 120.232C529.186 109.053 520.124 99.9906 508.944 99.9906Z" fill="black"/>
  <path d="M450.881 131.065L433.327 113.485V148.645L450.881 131.065Z" fill="black"/>
  <path d="M457.118 126.011C459.943 126.011 462.233 123.721 462.233 120.895C462.233 118.07 459.943 115.78 457.118 115.78C454.293 115.78 452.003 118.07 452.003 120.895C452.003 123.721 454.293 126.011 457.118 126.011Z" fill="white"/>
  <path d="M478.003 126.011C480.828 126.011 483.118 123.721 483.118 120.895C483.118 118.07 480.828 115.78 478.003 115.78C475.178 115.78 472.887 118.07 472.887 120.895C472.887 123.721 475.178 126.011 478.003 126.011Z" fill="white"/>
  <path d="M498.892 126.011C501.717 126.011 504.008 123.721 504.008 120.895C504.008 118.07 501.717 115.78 498.892 115.78C496.067 115.78 493.777 118.07 493.777 120.895C493.777 123.721 496.067 126.011 498.892 126.011Z" fill="white"/>
  <path d="M182.33 499.443C183.35 496.526 183.937 492.91 183.937 488.376C183.937 420.291 103.357 438.631 103.357 382.092" stroke="black" stroke-width="9" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M117.529 381.699C121.89 387.386 107.253 393.909 105.162 391.17C103.071 388.431 112.858 375.61 117.529 381.699Z" fill="black"/>
  <path d="M188.884 281.602C194.198 288.522 178.495 294.862 175.95 291.531C173.405 288.201 183.197 274.191 188.884 281.602Z" fill="black"/>
  <path d="M184.62 310.269C188.848 317.919 168.3 324.074 166.26 320.418C164.22 316.761 180.112 302.093 184.62 310.269Z" fill="black"/>
  <path d="M185.859 332.046C191.398 338.788 172.309 348.57 169.657 345.341C167.005 342.113 179.938 324.824 185.859 332.046Z" fill="black"/>
  <path d="M192.372 356.515C197.911 363.263 178.821 373.045 176.169 369.816C173.517 366.588 186.451 349.299 192.372 356.515Z" fill="black"/>
  <path d="M198.059 379.277C203.092 385.397 186.4 393.761 183.988 390.823C181.575 387.886 192.668 372.708 198.059 379.277Z" fill="black"/>
  <path d="M205.734 404.226C210.768 410.346 194.075 418.705 191.663 415.767C189.251 412.83 200.343 397.657 205.734 404.226Z" fill="black"/>
  <path d="M89.76 377.196C91.5807 370.265 105.708 377.833 104.836 381.154C103.963 384.474 87.8169 384.622 89.76 377.196Z" fill="black"/>
  <path d="M89.5203 401.65C88.6278 394.541 104.555 396.306 104.983 399.712C105.412 403.119 90.474 409.265 89.5203 401.65Z" fill="black"/>
  <path d="M103.591 423.81C98.94 418.333 113.22 411.06 115.454 413.681C117.688 416.303 108.564 429.629 103.591 423.81Z" fill="black"/>
  <path d="M121.263 435.77C118.463 429.17 134.273 426.528 135.609 429.69C136.945 432.852 124.251 442.833 121.263 435.77Z" fill="black"/>
  <path d="M144.998 448.229C142.203 441.629 158.008 438.988 159.35 442.15C160.691 445.312 147.992 455.292 144.998 448.229Z" fill="black"/>
  <path d="M162.772 466.308C162.154 459.168 178.005 461.55 178.301 464.972C178.597 468.394 163.429 473.953 162.772 466.308Z" fill="black"/>
  <path d="M125.2 397.01C130.81 401.482 118.147 411.325 115.469 409.183C112.792 407.041 119.202 392.216 125.2 397.01Z" fill="black"/>
  <path d="M137.914 409.795C144.085 413.442 132.947 424.963 129.989 423.218C127.031 421.474 131.31 405.894 137.914 409.795Z" fill="black"/>
  <path d="M161.206 422.341C167.01 426.549 154.831 436.973 152.051 434.953C149.272 432.934 154.994 417.833 161.206 422.341Z" fill="black"/>
  <path d="M180.831 499.29C187.904 487.611 196.544 469.985 196.544 450.044C196.544 395.066 165.847 367.526 165.847 328.256C165.847 320.831 166.52 297.442 178.327 287.966" stroke="black" stroke-width="9" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M205.403 577.029H160.298C159.272 577.03 158.272 576.707 157.441 576.107C156.609 575.506 155.988 574.658 155.667 573.684L133.227 505.69C132.987 504.956 132.924 504.176 133.044 503.413C133.164 502.65 133.463 501.926 133.917 501.301C134.371 500.677 134.967 500.169 135.656 499.819C136.344 499.469 137.106 499.288 137.879 499.29H228.031C228.804 499.29 229.566 499.474 230.254 499.826C230.942 500.178 231.537 500.689 231.989 501.316C232.441 501.943 232.738 502.668 232.855 503.432C232.972 504.196 232.906 504.977 232.662 505.711L210.028 573.699C209.704 574.669 209.083 575.513 208.253 576.11C207.423 576.708 206.425 577.03 205.403 577.029V577.029Z" fill="white" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M212.981 432.812C215.623 440.298 197.079 442.451 195.82 438.865C194.56 435.28 210.156 424.799 212.981 432.812Z" fill="black"/>
  <path d="M182.677 443.878C188.562 438.559 197.696 454.833 194.876 457.383C192.056 459.933 176.373 449.575 182.677 443.878Z" fill="black"/>
  <path d="M177.934 423.55C181.835 416.639 195.646 429.19 193.78 432.5C191.913 435.81 173.757 430.95 177.934 423.55Z" fill="black"/>
  <path d="M173.497 399.478C177.398 392.567 191.214 405.119 189.343 408.423C187.471 411.728 169.32 406.873 173.497 399.478Z" fill="black"/>
  <path d="M165.582 380.332C168.132 372.81 184.044 382.551 182.825 386.152C181.606 389.752 162.863 388.38 165.582 380.332Z" fill="black"/>
  <path d="M154.397 353.966C158.11 346.948 172.247 359.117 170.488 362.472C168.728 365.828 150.45 361.473 154.397 353.966Z" fill="black"/>
  <path d="M149.119 324.579C153.459 317.949 166.433 331.352 164.353 334.535C162.272 337.717 144.473 331.689 149.119 324.579Z" fill="black"/>
  <path d="M151.715 299.288C156.055 292.658 169.029 306.061 166.954 309.244C164.878 312.426 147.069 306.398 151.715 299.288Z" fill="black"/>
  <path d="M212.981 458.862C215.623 466.344 197.079 468.496 195.82 464.911C194.56 461.326 210.156 450.84 212.981 458.862Z" fill="black"/>
  <path d="M377.4 216.75C377.4 219.3 376.89 227.46 373.83 229.5" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M375.615 243.015C380.715 243.015 385.305 239.955 385.305 237.915" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M388.62 221.085C389.606 221.085 390.405 219.715 390.405 218.025C390.405 216.335 389.606 214.965 388.62 214.965C387.634 214.965 386.835 216.335 386.835 218.025C386.835 219.715 387.634 221.085 388.62 221.085Z" fill="black"/>
  <path d="M205.403 577.029H160.298C159.272 577.03 158.272 576.707 157.441 576.107C156.609 575.506 155.988 574.658 155.667 573.684L133.227 505.69C132.987 504.956 132.924 504.176 133.044 503.413C133.164 502.65 133.463 501.926 133.917 501.301C134.371 500.677 134.967 500.169 135.656 499.819C136.344 499.469 137.106 499.288 137.879 499.29H228.031C228.804 499.29 229.566 499.474 230.254 499.826C230.942 500.178 231.537 500.689 231.989 501.316C232.441 501.943 232.738 502.668 232.855 503.432C232.972 504.196 232.906 504.977 232.662 505.711L210.028 573.699C209.704 574.669 209.083 575.513 208.253 576.11C207.423 576.708 206.425 577.03 205.403 577.029V577.029Z" stroke="black" stroke-width="2.5" stroke-miterlimit="10" stroke-linecap="round"/>
  <g clip-path="url(#clip0)">
  <path d="M269.867 170.367C267.43 170.367 265.138 171.317 263.449 173.001L260.498 175.834L257.591 173.044C255.868 171.317 253.572 170.367 251.133 170.367C248.693 170.367 246.399 171.321 244.678 173.044C242.951 174.769 242 177.06 242 179.502C242 181.937 242.949 184.233 244.676 185.956C246.397 187.681 248.691 188.633 251.133 188.633C253.57 188.633 255.866 187.683 257.551 185.994L260.5 183.166L263.409 185.956C265.132 187.681 267.428 188.633 269.867 188.633C272.307 188.633 274.599 187.683 276.322 185.956C278.049 184.235 279 181.94 279 179.498C279 177.056 278.051 174.767 276.324 173.039C274.596 171.317 272.305 170.367 269.867 170.367ZM253.851 182.217C252.399 183.671 249.868 183.671 248.414 182.217C247.687 181.489 247.287 180.523 247.287 179.5C247.287 178.473 247.687 177.511 248.418 176.779C249.141 176.052 250.107 175.652 251.133 175.652C252.158 175.652 253.124 176.052 253.891 176.817L256.684 179.502L253.851 182.217ZM272.584 182.217C271.132 183.673 268.639 183.707 267.108 182.178L264.316 179.494L267.147 176.777C268.601 175.323 271.134 175.323 272.586 176.773C273.313 177.504 273.713 178.466 273.713 179.494C273.713 180.521 273.311 181.489 272.584 182.217Z" fill="#EE3E01"/>
  </g>
  <defs>
  <clipPath id="clip0">
  <rect width="37" height="37" fill="white" transform="translate(242 161)"/>
  </clipPath>
  </defs>
  </svg>
  
	  </figure>
	</div>
  
  </main>
  <!--Waves Container-->
  <!-- CSS Waves from goodkatz (https://codepen.io/goodkatz/pen/LYPGxQz) -->
  <div>
	<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  <!--Header ends-->
  
  <!--Content starts-->
  <section class="video-content">
  
	<div class="video-story">
	  <h1 class="video-title">See in Action</h1>
	  <p class="video-subtitle">Story of Theodore</p>
	  <div class='embed-container'>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/68KFIO64KXQ?si=XhfLFVdl8YMxdtZR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	  </div>
	</div>
  
	<div class="three-dots">
	  <span></span>
	  <span></span>
	  <span></span>
	</div>
  
  </section>
  
  <section class="content">
  
	<div class="inner-content">
	  <div class="inner-content-text content__TextLeft">
		<div id="about" class="inter-content-subtitle">
		  About
		</div>
  
		<div class="inner-content-title">
			Samarpana GF: Nourishing Communities, One Plate at a Time
		</div>
  
		<div class="inner-content-para">
		  <p>"Welcome to Samarpana , where the essence of Gujarati cuisine meets the spirit of giving. Our project aims to unite communities through the flavors of Gujarat, while also providing nourishment to those in need. Join us in our mission to spread kindness and make a difference, one meal at a time.</p>
		</div>
	  </div>
  
	  <div class="inner-image-container container__ImageRight">
		<div class="inner-content-image content__ImageRight">
		  <img class="section-images" src="https://t3.ftcdn.net/jpg/02/92/07/56/360_F_292075696_hGdSBQ9Bvf1jsaVMP2rTpuRr0VMATck0.jpg" style="object-position: 50% 50%;">
		</div>
	  </div>
	</div>
  
  </section>
  
  <section class="pricing-container">
	<div class="p-10 max-w-screen-lg mx-auto">
		<div class="text-center mb-16">
			<p class="mt-4 text-sm leading-7 text-gray-500 font-regular">
				THE TEAM
			  </p>
			  <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-900">
				Our<span class="text-indigo-600"> Team</span>
			  </h3>
		  </div>
		<div class="sm:grid grid-cols-2 col-gap-10">
		
		  <div class="max-w-sm w-full lg:max-w-full lg:flex mx-auto my-10">
		<div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://www.bhmpics.com/downloads/insta-dp-Wallpapers/23.14accf0ae870b126b5cffdc687d805e7.jpg')" title="Sahil A.Bhatiya">
		</div>
		<div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4">
		  <div class="">
			<a href="#" class="text-gray-900 font-bold text-xl mb-2 hover:text-indigo-600 transition duration-500 ease-in-out">Sahil A. Bhatiya</a>
			<p class="text-sm text-gray-600">
			  MERN Stack Devloper
			</p>
			<p class="text-gray-500 text-base mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			
			<div class="my-4 flex">
			<a href="#">
			  <svg class="mr-3" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><g data-name="facebook"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M17 3.5a.5.5 0 0 0-.5-.5H14a4.77 4.77 0 0 0-5 4.5v2.7H6.5a.5.5 0 0 0-.5.5v2.6a.5.5 0 0 0 .5.5H9v6.7a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-6.7h2.62a.5.5 0 0 0 .49-.37l.72-2.6a.5.5 0 0 0-.48-.63H13V7.5a1 1 0 0 1 1-.9h2.5a.5.5 0 0 0 .5-.5z"/></g></g></svg></a>
			  <a href="#"><svg class="mr-3" width="16px" height="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		   viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve">
	  <g id="XMLID_826_">
		  <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73
			  c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783
			  c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598
			  C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467
			  c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977
			  c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889
			  c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597
			  c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961
			  c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895
			  c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367
			  c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998
			  C307.394,57.037,305.009,56.486,302.973,57.388z"/>
	  </g>
			  </svg></a>
			  
			  <a href="#"><svg width="19px" height="19px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		   viewBox="0 0 239.04 239.04" style="enable-background:new 0 0 239.04 239.04;" xml:space="preserve">
	  <g>
		  <path style="fill:#FFFFFF;" d="M167.809,36.555c-22.276-0.183-44.597-1.054-66.919-0.504c-25.851,0.642-46.018,2.2-61.281,22.872
			  c-3.988,9.854-6.004,21.359-6.967,33.368c-0.183,3.163-0.367,6.417-0.596,9.763c-0.825,20.396,0.55,41.435,0.092,58.118
			  c2.154,10.955,6.371,20.809,14.255,28.326c26.126,24.888,79.294,17.142,114.128,15.767c16.73-6.096,30.663-11.138,38.134-30.251
			  c5.913-15.034,4.95-34.193,5.363-50.326C204.797,90.502,206.264,44.714,167.809,36.555z"/>
		  <path d="M157.588,48.38c44.505,5.729,31.443,70.219,30.205,101.478c-0.688,17.188-3.758,30.48-21.496,36.438
			  c-23.33,7.838-57.706,5.225-81.494,1.742c-15.905-2.292-28.372-7.059-32.772-23.559c-6.967-26.08-4.996-61.373-1.971-87.957
			  c0.092-0.504,0.229-0.871,0.458-1.192C50.93,35.547,134.441,45.401,157.588,48.38z"/>
		  <path style="fill:#FFFFFF;" d="M176.059,72.627c0.092-10.955-13.567-14.438-20.901-7.7c-1.971,1.833-2.888,4.629-3.025,7.654
			  c0.733,3.896,3.071,7.746,6.096,9.946C165.334,87.523,175.967,80.877,176.059,72.627z"/>
		  <path style="fill:#FFFFFF;" d="M155.754,93.94c-15.675-23.742-51.06-26.08-70.081-5.042c-12.971,14.346-13.888,38.226-4.125,55.185
			  c0.55,0.183,1.054,0.504,1.513,1.054c15.859,17.692,43.176,24.109,62.794,8.067C163.363,138.858,168.496,113.236,155.754,93.94z"/>
		  <path d="M93.282,126.483c5.546,15.584,25.255,27.959,40.976,18.334c31.763-19.434-5.546-72.235-31.718-48.814
			  C93.282,101.457,89.661,116.261,93.282,126.483z"/>
	  </g>
				</svg></a>
	  
			  
			</div>
			
		  </div>
		  
		</div>
			  
		  </div>
		
		  <div class="max-w-sm w-full lg:max-w-full lg:flex mx-auto my-10">
		<div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://www.bhmpics.com/downloads/insta-dp-Wallpapers/23.14accf0ae870b126b5cffdc687d805e7.jpg')" title="Bhavik Sanghar ">
		</div>
		<div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4">
		  <div class="">
			<a href="#" class="text-gray-900 font-bold text-xl mb-2 hover:text-indigo-600 transition duration-500 ease-in-out">Bhavik Sanghar</a>
			<p class="text-sm text-gray-600">
			  Data Analystics
			</p>
			<p class="text-gray-500 text-base mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			
			<div class="my-4 flex">
			<a href="#">
			  <svg class="mr-3" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><g data-name="facebook"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M17 3.5a.5.5 0 0 0-.5-.5H14a4.77 4.77 0 0 0-5 4.5v2.7H6.5a.5.5 0 0 0-.5.5v2.6a.5.5 0 0 0 .5.5H9v6.7a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-6.7h2.62a.5.5 0 0 0 .49-.37l.72-2.6a.5.5 0 0 0-.48-.63H13V7.5a1 1 0 0 1 1-.9h2.5a.5.5 0 0 0 .5-.5z"/></g></g></svg></a>
			  <a href="#"><svg class="mr-3" width="16px" height="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		   viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve">
	  <g id="XMLID_826_">
		  <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73
			  c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783
			  c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598
			  C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467
			  c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977
			  c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889
			  c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597
			  c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961
			  c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895
			  c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367
			  c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998
			  C307.394,57.037,305.009,56.486,302.973,57.388z"/>
	  </g>
			  </svg></a>
			  
			  <a href="#"><svg width="19px" height="19px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		   viewBox="0 0 239.04 239.04" style="enable-background:new 0 0 239.04 239.04;" xml:space="preserve">
	  <g>
		  <path style="fill:#FFFFFF;" d="M167.809,36.555c-22.276-0.183-44.597-1.054-66.919-0.504c-25.851,0.642-46.018,2.2-61.281,22.872
			  c-3.988,9.854-6.004,21.359-6.967,33.368c-0.183,3.163-0.367,6.417-0.596,9.763c-0.825,20.396,0.55,41.435,0.092,58.118
			  c2.154,10.955,6.371,20.809,14.255,28.326c26.126,24.888,79.294,17.142,114.128,15.767c16.73-6.096,30.663-11.138,38.134-30.251
			  c5.913-15.034,4.95-34.193,5.363-50.326C204.797,90.502,206.264,44.714,167.809,36.555z"/>
		  <path d="M157.588,48.38c44.505,5.729,31.443,70.219,30.205,101.478c-0.688,17.188-3.758,30.48-21.496,36.438
			  c-23.33,7.838-57.706,5.225-81.494,1.742c-15.905-2.292-28.372-7.059-32.772-23.559c-6.967-26.08-4.996-61.373-1.971-87.957
			  c0.092-0.504,0.229-0.871,0.458-1.192C50.93,35.547,134.441,45.401,157.588,48.38z"/>
		  <path style="fill:#FFFFFF;" d="M176.059,72.627c0.092-10.955-13.567-14.438-20.901-7.7c-1.971,1.833-2.888,4.629-3.025,7.654
			  c0.733,3.896,3.071,7.746,6.096,9.946C165.334,87.523,175.967,80.877,176.059,72.627z"/>
		  <path style="fill:#FFFFFF;" d="M155.754,93.94c-15.675-23.742-51.06-26.08-70.081-5.042c-12.971,14.346-13.888,38.226-4.125,55.185
			  c0.55,0.183,1.054,0.504,1.513,1.054c15.859,17.692,43.176,24.109,62.794,8.067C163.363,138.858,168.496,113.236,155.754,93.94z"/>
		  <path d="M93.282,126.483c5.546,15.584,25.255,27.959,40.976,18.334c31.763-19.434-5.546-72.235-31.718-48.814
			  C93.282,101.457,89.661,116.261,93.282,126.483z"/>
	  </g>
				</svg></a>
	  
			  
			</div>
			
		  </div>
		  
		</div>
	  </div>
		  
		</div>
	  </div>
  </section>
	  
  <section class="subscribe-container">
	<div class="hero-newsletter"><h2>Subscribe To Our Newsletter</h2></div>
	
		   <div class="form-container">
  
			   <form id="form" action="https://www.freecodecamp.com/email-submit" method="post">
				 <input type="email" placeholder="Email Address" name="email" id="email" required>
			   <div>
	  <input type="submit" id="submit" value="Subscribe">
	</div>
			   </form>
			   
			
	</div>
  </section>
  <!--Content ends-->
</body>
</html>